#page-authorizationComplete {
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 110px;
    width: 80vw;
}

.c-button.c-button--primary {
    background-color: #ec6607;
    color: #fff;
    box-shadow: 0 3px 0 0 #C85402;
    border-radius: 6px;
    padding: 13px 18px 13px 18px;
    line-height: 18px;
    margin-top: 43px;
}
